<html>
    <head>
        <script src="https://unpkg.com/quicktype-playground@1"></script>
    </head>
    <body>
        <div class="quicktype" data-type-name="<%= typeName %>" data-languages="Swift Kotlin Java">
                <%= json %>
        </div>
    </body>
</html>